/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

.bootstrap-wrapper {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.text-center {
    text-align: center;
}